<section class="section-about" aria-labelledby="section-about__title">
  <h2 class="title" id='section-about__title'>About this project</h2>
  <div class="p-container">
    <p>The Mastercraft Bamboo Monitor Riser is a sturdy and stylish
      platform that elevates your
      screen to a more comfortable viewing height. Placing your monitor at eye level has
      the
      potential to improve your posture and make you more comfortable while at work,
      helping
      you
      stay focused on the task at hand.</p>
    <p>Featuring artisan craftsmanship, the simplicity of design creates extra desk space
      below
      your computer to allow notepads, pens, and USB sticks to be stored under the stand.
    </p>
  </div>
  <ul class="product-list">
    <li *ngFor="let product of rewardedProducts">
      <app-card-product [name]="product.name" [description]="product.description"
        [price]="product.price" [left]="product.left"></app-card-product>
    </li>
  </ul>
</section>