@use 'sass:math';
@use '../../styles/mixins' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  height: 24px;
  position: relative;
  z-index: 99;
  padding-inline: math.percentage($number: math.div(24, 375));

  @include media(laptop) {
    margin-top: 48px;
    padding-inline: 165px;
    height: 20px;
  }

  .navlink-list {
    position: fixed;
    z-index: 2;
    top: 88px;
    right: 6.4%;
    width: Min(327px, math.percentage($number: math.div(327, 375)));
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);

    @include media(laptop) {
      display: flex;
      flex-direction: row;
      position: unset;
      background-color: transparent;
      border: none;
      border-radius: 0;
      width: auto;
      gap: 32px;
    }
  }

  .navlink-list li {
    padding: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(47, 47, 47, 0.1);
    }

    @include media(laptop) {
      border: none;
      padding: 0;
      color: white;
      font-weight: 500;
      font-size: 15px;
    }
  }

  .logo,
  .btn-menu {
    position: relative;
    z-index: 2;
  }

  .backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
  }

  .btn-menu {
    background-color: inherit;
    border: none;
    cursor: pointer;

    @include media(laptop) {
      display: none;
    }
  }
}

.navbar[data-open='true'] {

  .navlink-list,
  .backdrop {
    display: flex;
  }
}

.navbar[data-scroll='true'] {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 56px;
  margin-top: 0;

  @include media(laptop) {
    height: 84px;
    padding-inline: calc(165px + max(0px, 50% - 720px));
  }
}