.card-product {
  display: flex;
  flex-direction: column;
  padding: 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  &[data-out-of-stock='true']{
    opacity: 0.5;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
  }

  &__price {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--moderate-cyan);
  }

  &__description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-gray);
  }


  &__left {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--dark-gray);

    strong {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: var(--black);
    }
  }

  &__select {
    margin-top: 24px;
    height: 48px;
    width: 157px;
    display: grid;
    place-items: center;
    border-radius: 999px;
    border: none;
    background-color: var(--moderate-cyan);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;

    &:disabled{
      background-color: var(--dark-gray);
      cursor: initial;
    }

    &:not(:disabled):hover{
      background-color: var(--dark-cyan);
    }
  }

}