<article class="card" [attr.data-disabled]="left === 0">
  <div class="main-content">
    <div class="radio-mark" [attr.data-selected]="selected" (click)="onSelect()"></div>
    <div class="title-container">
      <h3 class="title" (click)="onSelect()">{{ name }}</h3>
      <p *ngIf="price" class="pledge">Pledge ${{ price }} or more</p>
    </div>
    <p class="description">{{ description }}</p>
    <p *ngIf='left' class="left"><span class="amount">{{ left }}</span>left</p>
  </div>
  <form *ngIf="selected" class="form" (ngSubmit)="onSubmit()">
    <label class='form-title' [for]="getInputId()">Enter your pledge
      <div *ngIf="error" class="error-message">The pledge must be ${{ price }} or more
      </div>
    </label>
    <div class="form-input-container">
      <div class="text-input-container">
        <input [(ngModel)]="pledge" type="number" name="pledge" [id]="getInputId()"
          required [attr.data-error]="error">
      </div>
      <input type="submit" class='form-submit' value="Continue">
    </div>
  </form>
</article>