@use '../../../styles/mixins' as *;

.modal-selection-container .backdrop {
  position: fixed;
  inset: 0 0 0 0;
  background-color: black;
  z-index: 999;
  opacity: 0.5;
}

.modal-selection {
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 120px;
  width: min(87.2%, 730px);
  left:  calc(50% - (min(87.2%, 730px) / 2));
  padding: 31px 23px;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;

  @include media(tablet) {
    padding: 47px;
  }

  @include media(laptop){
    top: 184px;
  }
}

.btn-close {
  position: absolute;
  top: 36px;
  right: 23px;
  cursor: pointer;

  &:hover path {
    opacity: 1;
  }
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);

  @include media(tablet) {
    font-size: 24px;
    line-height: 29px;
  }
}

.description {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-gray);

  @include media(tablet) {
    margin-top: 16px;
    font-size: 16px;
    line-height: 30px;
  }
}

.product-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(tablet){
    margin-top: 32px;
  }
}