<div *ngIf="open" class="modal-selection-container">
  <div class="backdrop"></div>
  <section class="modal-selection">
    <button class="btn-close" aria-label='close modal'>
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path id="Combined Shape" opacity="0.4" fill-rule="evenodd" clip-rule="evenodd"
          d="M14.1421 2.82843L11.3137 0L7.07107 4.24264L2.82843 0L0 2.82843L4.24264 7.07107L0 11.3137L2.82843 14.1421L7.07107 9.8995L11.3137 14.1421L14.1421 11.3137L9.8995 7.07107L14.1421 2.82843Z"
          fill="black" />
      </svg>
    </button>
    <h2 class="title">Back this project</h2>
    <p class="description">Want to support us in bringing Mastercraft Bamboo Monitor Riser
      out in the world?</p>
    <ul class="product-list">
      <li *ngFor="let product of products">
        <app-card-selection [name]="product.name" [price]='product.price' [left]="product.left" 
        [description]="product.description">
        </app-card-selection>
      </li>

    </ul>
  </section>
</div>